<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aum.fin.buyorrent"
    android:versionCode="5"
    android:versionName="2" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="18" />

    <application
        android:name="aum.fin.buyorrent.BuyOrRentApp"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name="aum.fin.buyorrent.MainFragment"
            android:label="@string/title_activity_main"
            android:windowSoftInputMode="stateUnchanged" >
"
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="aum.fin.buyorrent.TradeOffActiviy"
            android:label="@string/title_activity_trade_off_activiy"
            android:parentActivityName="aum.fin.buyorrent.MainFragment" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="aum.fin.buyorrent.MainFragment" />
        </activity>
        <activity
            android:name="aum.fin.buyorrent.ReportActivity"
            android:label="@string/title_activity_report"
            android:parentActivityName="aum.fin.buyorrent.MainFragment" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="aum.fin.buyorrent.MainFragment" />
        </activity>
    </application>

</manifest>